.container{
    padding:50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 80vh;
    background-color: rgb(151, 186, 255);
}
.container .heading{
    margin: 0 auto;
    max-width: 500px;
    color: black;
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height:3.3rem ;
    font-weight: bold;
}
.heading span{
    background-clip: text;
    background-image: linear-gradient(to right, #2d36b7a7,rgb(0, 30, 129));
    color: transparent;
}
.right img{
    width: 40%;
}